@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    padding: 25px;
    margin: 0;
    width: 100%;
    background-color: #131c27;
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  table {
    @apply w-full table-auto border border-slate-700 text-neutral-200 rounded-sm  mb-8;

  }

  th, td {
    @apply !px-4 !py-2 text-left;
    border: none;
  }

  tr {
    @apply border-b border-slate-800 overflow-hidden text-[1.6rem];
  }

  input[type="radio"] {
    @apply accent-cyan-600
  }

  tr > td:first-child input[type="checkbox"] {
    @apply scale-150 ml-3 accent-cyan-600 rounded-sm;
  }

  th, thead {
    @apply bg-slate-800 font-semibold text-[1.645rem];
  }
}


#createCouponContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  margin-top:5em;
}

.centeredContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
  margin-top:5em;
  text-align: center;
}

#storeContainer {
  text-align: center;
}

.section {
  background-color: #fff;
  display: block;
  border: 1px solid black;
  border-radius: 16px;
  width: calc(20% - 5rem);
  font-size: 1.25rem;
  box-sizing: border-box;
  padding: 16px 0 16px 0;
  margin: 15px 0px 15px 0px;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0,140px,0);
  }

  to {
    transform: translate3d(0,0,0);
    opacity: 1
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animatedFadeInUp {
  opacity: 0;
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
}

.section:hover {
  border-color: darkred;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.noDecoration {
  text-decoration: none;
  color: inherit;
}

.storeSelection input[type="checkbox"] {
  appearance: none;
  width: 23px;
  height: 23px;
  border: 2px solid gray;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  position: relative;
  background-color: white;
  transition: background-color 0.2s ease, border-color 0.2s ease;
}

.storeSelection input[type="checkbox"]:checked {
  background-color: green;
  border-color: green;
}

.storeSelection input[type="checkbox"]:hover {
  border-color: darkgreen;
}

.storeSelection input[type="checkbox"]:checked::after {
  content: '';
  position: absolute;
  left: 6px;
  top: 2px;
  width: 7px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.storeLabel {
  color: rgb(75, 75, 75);
  font-size: 2.5rem;
  margin: 2px 15px 0px 3px;
}

.selectStoresHeader {
  font-size:2.75rem;
  color:rgb(172, 26, 26);
  text-decoration: underline;
  font-weight: 700;
}

.textBoxCoupon  {
  appearance: none;
  padding: 3px 8px 3px 8px;
  border: 2px solid gray;
  font-size:2.35rem;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  width: auto;
  background-color: white;
  transition: background-color 0.2s ease, border-color 0.2s ease;
}

.textBox1  {
  padding: 2px 5px 2px 5px;
  border: 2px solid gray;
  font-size:2.0rem;
  border-radius: 4px;
  width: auto;
  background-color: white;
  transition: background-color 0.2s ease, border-color 0.2s ease;
}

.createButton {
  appearance: none;
  width: auto; 
  height: 40px;
  border: 2px solid gray;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  background-color: white;
  color: black;
  font-size: 25px;
  font-weight: bold;
  transition: background-color 0.2s ease, border-color 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.createButton:hover {
  border-color: rgb(12, 126, 12);
}

.createButton:active {
  background-color: green;
  border-color: green;
  color: white;
}

.saveButtonLG {
  text-align: center;
  appearance: none;
  width: auto;
  height: 40px;
  border: 2px solid green;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  background-color: white;
  color: black;
  font-size: 25px;
  font-weight: bold;
  transition: background-color 0.2s ease, border-color 0.2s ease;
  align-items: center;
  justify-content: center;
}

.saveButtonLG:hover {
  border-color: rgb(48, 150, 7);
}

.saveButtonLG:active {
  background-color: rgb(56, 212, 16);
  border-color: rgb(48, 150, 7);
  color: white;
}

.deleteButtonLG {
  text-align: center;
  appearance: none;
  width: auto;
  height: 40px;
  border: 2px solid red;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  background-color: white;
  color: black;
  font-size: 25px;
  font-weight: bold;
  transition: background-color 0.2s ease, border-color 0.2s ease;
  align-items: center;
  justify-content: center;
}

.deleteButtonLG:hover {
  border-color: red;
}

.deleteButtonLG:active {
  background-color: rgb(238, 18, 18);
  border-color: rgb(131, 13, 13);
  color: white;
}

.requiredField {
  color:rgb(255, 0, 0);
  font-size:35px;
}

.centered {
  text-align: center;
  justify-content: center;
}

.centeredh2 {
  text-align: center;
  padding: 1rem;
  justify-content: center;
}

.Modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 500px;
  background: #354054;
  padding: 20px;
  color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.842);
  z-index: 999;
}

.spaceBetween {
  justify-content: space-between;
}

.edit:hover {
  cursor: pointer;
}

.editCouponForm label {
  display: block;
  margin-bottom: 10px; 
}

.searchGroup {
  text-align: center;
}

.spaceBetween {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.spaceBetween button {
  min-width: 100px;
}

.saveButton {
  font-weight: 800;
  padding: 5px 7px;
  border-radius: 4px;
  color:white;
  background-color: green;
}

.saveButton:hover {
  color:green;
  background-color: rgb(228, 228, 228);
  font-weight: 800;
  padding: 5px 7px;
  border-radius: 4px;
}

.closeButton {
  font-weight: 800;
  padding: 5px 7px;
  border-radius: 4px;
  color:white;
  background-color: rgb(172, 172, 172);
}

.topLeftIcons {
  position: sticky;
  top:1.25%;
  cursor: pointer;
  left: 1.38%;
  font-size:1.45rem;
  background: white;
  padding:6px;
  border: 1px solid black;
  border-radius: 4px;
}

.topRightIcons:hover {
  border-color:darkred;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: .25s;
  color: firebrick;
}

.infoTextHelp {
  margin-top: 1rem;
  color: darkred;
}

.infoText {
  margin: 2rem 25% 0rem 25%;
  font-size: 2rem;
  text-align: center;
}

.tinyTh {
  width: 2%;
}

.textAreaAuto {
  width: 100%;
  height: auto;
  border-radius: 6px;
  text-wrap: auto;
}

.mdSpan {
  font-size:2.5rem;
}

.exampleImage {
  border: 1px solid #afafaf;
  margin-top: 3rem;
  border-radius: 7px;
}

.checkboxForCopyProduct {
  margin-left: 5px;
  transform: scale(2.5);
}

.spaceApart {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 5rem;
  margin-top: 4rem;
}

.GoBackButton {
  font-size: 2.5rem;
  color: #000;
  background-color: #ffffff;
  border: 2px solid rgb(179, 16, 16);
  border-radius: 12px;
  padding: 4px 8px;
  margin: 2.5rem 0;
  transition: 0.25s ease;
}

.GoBackButton:hover {
  background-color: #ad0d0d;
  color: #fff;
  border: 2px solid #000;
}

.sweetalert-lg-info {
  font-size: 20px;
}

.correctProductsConfirmButton {
  font-size: 28px;
  border-radius: 12px;
  transition: 0.25s ease;
  padding: 2px 10px;
  margin: 4rem auto;
  background-color: #fff;
  border: 2px solid #2dbe1a;
}

.correctProductsConfirmButton:hover, .correctProductsConfirmButton:active {
  background-color: #2dbe1a;
  border: 2px solid #313131;
  cursor: pointer;
}

.lastMessageCopy {
  font-size: 26px;
}

.miniInfoText {
  font-size: 2rem;
  font-weight: 700;
}

.lineBreakSpanContainer {
  line-break: auto;
  max-width: 80%;
  font-size: 19px;
  display: inline-block;
  word-wrap:break-word;
  word-break:break-all;
}

.labelForInput {
  font-size: 2rem;
}

.textAreaAutoLarger {
  width: 100%;
  font-size: 2rem;
  height: auto;
  border-radius: 6px;
  text-wrap: auto;
}

.inline {
  display: inline-block;
}

.productDescriptionPreview {
  min-width: 90%;
  margin: 1rem 0 3.5rem 0;
}